{
  "minha-api/src/**/*.ts": ["eslint --fix", "tsc --noEmit"],
  "minha-api/src/**/*.tsx": ["eslint --fix", "tsc --noEmit"],
  "dashboard/src/**/*.ts": ["eslint --fix", "tsc --noEmit"],
  "dashboard/src/**/*.tsx": ["eslint --fix", "tsc --noEmit"],
  "*.{js,jsx,ts,tsx}": ["prettier --write"]
}
